rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /userPosts/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if resource.data.postUser == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth.uid == document;
    }

    match /postComments/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if false;
    }

    match /userStories/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if false;
    }

    match /storyComments/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if resource.data.commentUser == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.commentUser == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /friends/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /admin/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth != null;
    }

    match /quizSet/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /quizSet/{parent}/questoes/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{path=**}/questoes/{document} {
      allow read: if true;
    }


    match /users/{parent}/quiz_completed/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if request.auth.uid == parent;
    }

    match /medalha/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }
  }
}
